table tr, th, td{
    border: 2px solid brown;
    border-collapse: collapse; 
}
.navbar{
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
}
.navbar ul{
    display: flex;
    padding: 25px;
    gap: 30px;
    
}
.navbar ul li{
    list-style: none;
}
.navbar ul a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7)
}

